<h1>Articles Listing Page</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan = "3">Action</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <% @articles.each do |article| %>
            
                <tr>
                    <td><%=article.title%></td>
                    <td><%=article.description%></td>
                    <td><%= button_to 'Delete', article_path(article), method: :delete, onclick: "return confirm('Are you sure?')"  %></td>
                    <td><%= button_to 'show', article_path(article), method: :get %></td>
                    <td><%= button_to 'edit', edit_article_path(article), method: :get %> </td>
                </tr>

            <% end %>
        </tr><br/>
    </tbody>

</table>
<p>
    <%= button_to 'create new article', new_article_path, method: :get %>
</p>

